/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	/* padding: 30px; */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
  background: #222831;
	/* padding-top: 45px; */
}



header{
	overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	z-index: 1000;
	/* display: none; */
}

.menu a{
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background: #ddd;
    color: black;
}


.menu{
	height: 45px;
	border: 2px solid orange;
}

.statistics{
	position: fixed;
	border: 1px solid rgb(7, 7, 39);
	width: 300px;
	/* float: left; */
	/* height: 800px; */
	margin: 0px 0px 0px 0px;
	height: 800px;
}
.wrapper{

	margin: 45px 0px 0px 300px;
	/* height: 900px; */
	border: 3px solid green;
	position: relative;
	/* display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 200px; */

}

.wokrspace{
	/* position: relative; */
	border: 1px solid blue;
	/* width: 85%; */
	/* grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 12; */

}


#capillary_model{
  margin-top: 20px;
  margin-left: 201px;
    border: 1px solid white
}





#fig_sw_pc{
  background: #e8e8e8;

}



.rcal_box{
	border: 5px solid red;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 400px;
	grid-column-gap: 10px;
	grid-row-gap: 1em;
}
.plot{
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	/* border: 3px solid rgb(231, 17, 17); */
	border-radius: 10px;
  /* box-shadow: 2px 2px 2px lightgrey; */
}

#phi_perm{
	background-color: sandybrown;
	border: 3px solid black;
	border-radius: 10px;
	grid-column: 1;
	grid-row: 1;

}
#phi_perm_swirr{
	background-color: seagreen;
	color: white;
	grid-column: 2;
	grid-row: 1;
	/* position: sticky; */
	/* top: 0; */

}
#error_dist{
	background-color: skyblue;
	grid-column: 1;
	grid-row: 2;
}

#text_equations{
	background-color: rgb(11, 46, 59);
	color: white;
	grid-column: 2;
	grid-row: 2;
}